
@font-face {
  font-family: "League Spartan";
  src: url('../public/font/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format(truetype);
  font-weight: normal;
  font-size: normal;
}

body {
  --bs-body-font-family: "League Spartan";
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -1;
  }

  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
  }

  h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.25px;
  }

  h4 {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }

  .p-1 {
    font-size: 20px;
    line-height: 30px;
  }
  
  .p-2 {
    font-size: 16px;
    line-height: 26px;
  }
}

.container {
  width: 77%;
}




header {
  background-image: url(../public/images/homepage/hero-bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  color: white;
  padding-block: 65px 198px;
}

.header-text {
  width: 507px;
  margin-top: 153px;
}

.section-intro-container {
  position: relative;
}

.section-intro-1,
.section-intro-2 {
  display: flex;
  justify-content: space-between;
  gap: 125px;
}

// .section-intro-1 {
//   justify-content: flex-end;
// }

// .section-intro-2 {
//   justify-content: flex-start;
// }

.section-intro-text-container {
  display: flex;
  align-items: center;
  width: 40%;
}

.section-intro-1 {
  .section-intro-text-container {
    padding-block: 177px 290px;
  }
}

.section-intro-2 {
  .section-intro-text-container {
    padding-block: 290px 165px;
  }
}

.section-intro-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  background-image: url('../public/images/patterns/pattern-curve-top-right.svg');
  background-repeat: no-repeat;
  background-position: center left;
}

.section-intro-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background-image: url('../public/images/patterns/pattern-curve-top-left.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
}

// .section-intro-1,
// .section-intro-2 {
//   position: relative;
//   .section-intro-img {
//     position: absolute;
//     box-shadow: 0px 75px 100px -50px hsla(219, 20, 28, 50.32%);
//   }
// }

// .section-intro-1 .section-intro-img {
//   top: -70px;
//   left: 0;
// }

// .section-intro-2 .section-intro-img {
//   right: 0;
//   bottom: -80px;
// }

img {
  display: block;
}

.section-intro-1 .section-intro-img {
  position: relative;
  top: -70px;
  box-shadow: 0px 75px 100px -50px hsla(219, 20, 28, 50.32%);
}

.section-intro-2 .section-intro-img {
  position: relative;
  bottom: -80px;
}

.section-slide-container {
  padding-block: 160px;
}

.section-highlight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  li {
    display: flex;
    .highlight-img {
      z-index: 1;
    }
    .icon-divide {
      position: relative;
      left: -35px;
      margin-top: 10px;
    }
  }
}

.icon-divide {
  margin-bottom: 55px;
}

.section-slide-text-container {
  display: flex;
  align-items: center;
}

.section-slide > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-slide {
  ul {
    margin-top: 79px;
    li {
      margin-top: 12px;
    }
  }
}

.section-ready-container {
  background-image: url(../public/images/homepage/ready-bg-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-block: 88px;
}

.section-ready {
  display: flex;
  justify-content: space-between;
}

.btn-book-table {
  padding: 24px 54px;
  border: solid 1px #FFFFFF;
  background: #111111;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

footer {
  background-color: #111111;
  color: white;
  padding-block: 78px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

section:nth-of-type(2) {
  background-color: #111111;
  color: white;
  padding-block: 200px 120px;
}
