<footer>
  <div class="container footer-content">
    <figure class="logo"><img src="./public/images/logo.svg" alt=""></figure>
    <div>
      <ul>
        <li>Marthwaite, Sedbergh<br>Cumbria</li>
        <li>+00 44 123 4567</li>
      </ul>
    </div>
    <div>
      <ul>
        <li>Open Times</li>
        <li>Mon - Fri: 09:00 AM - 10:00 PM</li>
        <li>Sat - Sun: 09:00 AM - 11:30 PM</li>
      </ul>
    </div>
  </div>
</footer>